.card__title {
  font-family: "Gilroy-Bold";
  font-size: 40px;
}

.card__item {
  font-size: 18px;
  line-height: 22px;
}

.card {
  margin-bottom: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
  border-bottom: 1px solid #222020;
}

.fa {
  font-size: 30px;
  color: green;
}

.proposal {
  display: flex;
  justify-content: space-between;
}

h3 {
  font-family: "Gilroy-Bold";
  font-size: 50px;
}
/* начало мобильной версии */

@media (max-width: 425px) {
  #about {
    padding: 81px 29px 76px;
  }
  #about p {
    font-size: 16px;
  }
}
