.card__title {
  flex: 1;
  font-family: "Gilroy-Bold";
  font-size: 40px;
}

.card__item {
  flex: 1;
  font-size: 18px;
  line-height: 22px;
}

.card {
  font-weight: 400;
  margin: 50px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
  border-bottom: 1px solid #222020;
}

.fa {
  font-size: 30px;
  color: black;
  /* color: rgb(174, 178, 174); */
}

.proposal {
  display: flex;
  justify-content: space-between;
}

h3 {
  font-family: "Gilroy-Bold";
  font-size: 50px;
}

.offer {
  mix-blend-mode: color-burn;
}
/* начало мобильной версии */

@media (max-width: 425px) {
  #about {
    padding: 81px 29px 76px;
  }
  #about p {
    font-size: 16px;
  }
}
