#contact {
    padding: 30px 0;
}

.contact-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
}



.contact-info {
    font-family: "Gilroy-Medium";
    font-weight: 500;
    font-size: 32px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
}

/* .link {
    font-family: "Gilroy-Medium";
    font-weight: 500;
    font-size: 32px;
} */