.header__menu {
  /* position: fixed;
  top: 0;
  left: 0;
  width: 100%; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 33px 0;
  /* border-bottom: 1px solid #828282; */
}

.logo {
  font-size: 60px;
  color: #595555;
}

.header__menu li a {
  font-family: "Gilroy-Bold";
  font-size: 22px;
  line-height: 22px;
  text-decoration: none;
  color: #222020;
  border-radius: 5px;
  transition: all 0.5s ease;
}

.header__menu li a:hover {
  color: #454546;
  display: block;
  transform: scale(1.2, 1.2);
}

.wrap__img {
  margin-left: 70px;
}

.header__burger {
  display: none;
}

/* начало мобильной версии */

@media (max-width: 425px) {
  .header__menu {
    display: none;
  }

  .header__burger {
    position: fixed;
    top: 68px;
    right: 30px;
    display: block;
  }
}
