.modal {
  font-family: "Gilroy-Bold";
  position: fixed;
  display: none;
  inset: 0;
  background-color: rgb(0, 0, 0, 0.5);
}

.form {
  position: relative;
  padding: 30px 0;
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 400px;
  height: fit-content;
  background-color: #fff;
  border-radius: 20px;
}

.send {
  display: inline-block;
  width: 250px;
  align-self: center;
  position: relative;
  margin-top: 40px;
  font-size: 18px;
  background-color: #222020;
  border: 0;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  overflow: hidden;
  transition: 0.4s;
}

.send:hover {
  background-color: #454546;
  transition: 0.4s;
}

.close {
  position: absolute;
  right: -18px;
  top: -10px;
  border: 0;
  background: none;
  cursor: pointer;
}

input {
  margin: 10px auto;
  min-width: 300px;
  padding: 10px;
  background-color: rgb(240, 239, 239);
  border: 0;
  border-radius: 10px;
  transition: 0.4s;
}

input:hover {
  outline: 1px solid #222020;
  transition: 0.4s;
}

input:focus {
  outline: 1px solid red;
}

/********/
* {
  box-sizing: border-box;
}

body {
  background-color: #f1f1f1;
}

#regForm {
  background-color: #ffffff;
  margin: 100px auto;
  font-family: Raleway;
  padding: 40px;
  width: 70%;
  min-width: 300px;
}

h1 {
  text-align: center;
}

input {
  padding: 10px;
  width: 100%;
  font-size: 17px;
  font-family: Raleway;
  border: 1px solid #aaaaaa;
}

/* Mark input boxes that gets an error on validation: */
input.invalid {
  background-color: #ffdddd;
}

/* Hide all steps by default: */
.tab {
  display: none;
}

button {
  background-color: #4caf50;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  font-size: 17px;
  font-family: Raleway;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}

#prevBtn {
  background-color: #bbbbbb;
}

/* Make circles that indicate the steps of the form: */
.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

.step.active {
  opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
  background-color: #4caf50;
}
