.modal {
  font-family: "Gilroy-Bold" Arial, Helvetica, sans-serif;
  position: fixed;
  display: none;
  inset: 0;
  background-color: rgb(0, 0, 0, 0.5);
}

.form {
  position: relative;
  padding: 30px 0;
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 60%;
  min-width: 320px;
  height: fit-content;
  background-color: rgb(44, 40, 40);
  opacity: 0.8;
  border-radius: 20px;
}

.send {
  display: inline-block;
  width: 250px;
  align-self: center;
  position: relative;
  margin-top: 40px;
  font-size: 18px;
  background-color: #222020;
  border: 0;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  overflow: hidden;
  transition: 0.4s;
  outline: 1px solid black;
  display: none;
}

.send:hover {
  background-color: #454546;
  transition: 0.4s;
}

.close {
  position: absolute;
  right: -18px;
  top: -10px;
  border: 0;
  background: none;
  cursor: pointer;
}

input {
  font-family: "Gilroy-Bold" Arial, Helvetica, sans-serif;
  font-size: 20px;
  color: rgb(11, 12, 12);
  display: block;
  margin: 30px auto 0;
  width: 80%;
  min-width: 300px;
  padding: 10px;
  background-color: rgb(240, 239, 239);
  border: 0;
  border-radius: 5px;
  outline: 2px solid #080808;

  /* transition: 0.4s; */
}

/* input:hover {
  outline: 2px solid #222020;
  transition: 0.4s;
}
input:focus {
  outline: 2px solid rgb(10, 10, 10);
} */

/********/
input.invalid {
  outline: 1px solid red;
}

.tab {
  display: none;
}

.wrap_check {
  display: flex;
  justify-content: space-around;
}

.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

.step.active {
  opacity: 1;
}

.step.finish {
  background-color: #2b6339cd;
}

.wrapBtn {
  display: flex;
  justify-content: space-around;
  gap: 20px;
}

#nextBtn {
  display: inline-block;
  width: 250px;
  align-self: center;
  position: relative;
  margin-top: 40px;
  font-size: 18px;
  background-color: #222020;
  border: 0;
  color: #fff;
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
  overflow: hidden;
  transition: 0.4s;
}

#nextBtn:hover {
  background-color: #454546;
  transition: 0.4s;
}

#prevBtn {
  display: inline-block;
  width: 250px;
  align-self: center;
  position: relative;
  margin-top: 40px;
  font-size: 18px;
  background-color: #222020;
  border: 0;
  color: #fff;
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
  overflow: hidden;
  transition: 0.4s;
}

#prevBtn:hover {
  background-color: #454546;
  transition: 0.4s;
}

output {
  margin-top: 10px;
  color: #fff;
}

h5 {
  color: #fff;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.check {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.check_item {
  color: #fff;
}

input[type="range"]::-webkit-slider-runnable-track {
  height: 10px;
  -webkit-appearance: none;
  color: #565c5a;
  margin-top: -1px;
}

input[type="range"]::-webkit-slider-thumb {
  width: 10px;
  -webkit-appearance: none;
  height: 10px;
  cursor: pointer;
  background: #ebe8ee;
  border-radius: 50%;
  box-shadow: 0 0 0 20px #191818;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  input[type="range"] {
    overflow: hidden;
    width: 80%;
    -webkit-appearance: none;
    background-color: #454546;
  }
}

.lb1 {
  margin: 2em;
}

#highload1 {
  display: none;
}

#highload1 + .lb1,
#highload1 + .lb1::before,
#highload1 + .lb1::after {
  transition: all 0.3s;
}

#highload1 + .lb1 {
  display: inline-block;
  position: relative;
  width: 60px;
  height: 30px;
  border-radius: 30px;
  cursor: pointer;
}

#highload1 + .lb1::before {
  display: block;
  content: attr(data-offlabel);
  position: absolute;
  top: 3px;
  right: 7px;
  color: black;
  font-family: "Open Sans", sans-serif;
  font-size: 19px;
}

#highload1 + .lb1::after {
  border-radius: 50%;
  content: "";
  position: absolute;
  top: 2px;
  left: 1px;
  width: 26px;
  height: 26px;
  background-color: white;
}

#highload1:checked + .lb1::before {
  content: attr(data-onlabel);
  left: 4px;
  top: 3px;
  right: auto;
  color: #fff;
}

#highload1:checked + .lb1::after {
  left: 32px;
  background-color: #f7f7f7;
}

#highload1 + .lb1 {
  background-color: #454546;
}
#highload1:checked + .lb1 {
  background-color: green;
}
#highload1:checked + .lb1::before {
  color: #fff;
}

#highload2 {
  display: none;
}

#highload2 + .lb1,
#highload2 + .lb1::before,
#highload2 + .lb1::after {
  transition: all 0.3s;
}

#highload2 + .lb1 {
  display: inline-block;
  position: relative;
  width: 60px;
  height: 30px;
  border-radius: 30px;
  cursor: pointer;
}

#highload2 + .lb1::before {
  display: block;
  content: attr(data-offlabel);
  position: absolute;
  top: 3px;
  right: 7px;
  color: black;
  font-family: "Open Sans", sans-serif;
  font-size: 19px;
}

#highload2 + .lb1::after {
  border-radius: 50%;
  content: "";
  position: absolute;
  top: 2px;
  left: 1px;
  width: 26px;
  height: 26px;
  background-color: white;
}

#highload2:checked + .lb1::before {
  content: attr(data-onlabel);
  left: 4px;
  top: 3px;
  right: auto;
  color: #fff;
}

#highload2:checked + .lb1::after {
  left: 32px;
  background-color: #f7f7f7;
}

#highload2 + .lb1 {
  background-color: #454546;
}
#highload2:checked + .lb1 {
  background-color: green;
}
#highload2:checked + .lb1::before {
  color: #fff;
}

#highload3 {
  display: none;
}

#highload3 + .lb1,
#highload3 + .lb1::before,
#highload3 + .lb1::after {
  transition: all 0.3s;
}

#highload3 + .lb1 {
  display: inline-block;
  position: relative;
  width: 60px;
  height: 30px;
  border-radius: 30px;
  cursor: pointer;
}

#highload3 + .lb1::before {
  display: block;
  content: attr(data-offlabel);
  position: absolute;
  top: 3px;
  right: 7px;
  color: black;
  font-family: "Open Sans", sans-serif;
  font-size: 19px;
}

#highload3 + .lb1::after {
  border-radius: 50%;
  content: "";
  position: absolute;
  top: 2px;
  left: 1px;
  width: 26px;
  height: 26px;
  background-color: white;
}

#highload3:checked + .lb1::before {
  content: attr(data-onlabel);
  left: 4px;
  top: 3px;
  right: auto;
  color: #fff;
}

#highload3:checked + .lb1::after {
  left: 32px;
  background-color: #f7f7f7;
}

#highload3 + .lb1 {
  background-color: #454546;
}
#highload3:checked + .lb1 {
  background-color: green;
}
#highload3:checked + .lb1::before {
  color: #fff;
}

#highload4 {
  display: none;
}

#highload4 + .lb1,
#highload4 + .lb1::before,
#highload4 + .lb1::after {
  transition: all 0.3s;
}

#highload4 + .lb1 {
  display: inline-block;
  position: relative;
  width: 60px;
  height: 30px;
  border-radius: 30px;
  cursor: pointer;
}

#highload4 + .lb1::before {
  display: block;
  content: attr(data-offlabel);
  position: absolute;
  top: 3px;
  right: 7px;
  color: black;
  font-family: "Open Sans", sans-serif;
  font-size: 19px;
}

#highload4 + .lb1::after {
  border-radius: 50%;
  content: "";
  position: absolute;
  top: 2px;
  left: 1px;
  width: 26px;
  height: 26px;
  background-color: white;
}

#highload4:checked + .lb1::before {
  content: attr(data-onlabel);
  left: 4px;
  top: 3px;
  right: auto;
  color: #fff;
}

#highload4:checked + .lb1::after {
  left: 32px;
  background-color: #f7f7f7;
}

#highload4 + .lb1 {
  background-color: #454546;
}
#highload4:checked + .lb1 {
  background-color: green;
}
#highload4:checked + .lb1::before {
  color: #fff;
}
