.modal {
  font-family: "Gilroy-Bold" Arial, Helvetica, sans-serif;
  position: fixed;
  display: none;
  inset: 0;
  background-color: rgb(0, 0, 0, 0.5);
}

.form {
  position: relative;
  padding: 30px 0;
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 60%;
  min-width: 320px;
  height: fit-content;
  background-color: rgb(44, 40, 40);
  border-radius: 20px;
  box-shadow: -40px -40px 10px rgba(63, 59, 59, 0.8);
}

.send {
  display: inline-block;
  width: 250px;
  align-self: center;
  position: relative;
  margin-top: 40px;
  font-size: 18px;
  background-color: #222020;
  border: 0;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  overflow: hidden;
  transition: 0.4s;
  display: none;
}

.send:hover {
  background-color: #454546;
  transition: 0.4s;
}

.close {
  position: absolute;
  right: -18px;
  top: -10px;
  border: 0;
  background: none;
  cursor: pointer;
}

input {
  font-family: "Gilroy-Bold" Arial, Helvetica, sans-serif;
  font-size: 20px;
  color: rgb(11, 12, 12);
  display: block;
  margin: 30px auto 0;
  width: 80%;
  min-width: 300px;
  padding: 10px;
  background-color: rgb(240, 239, 239);
  border: 0;
  border-radius: 5px;
  transition: 0.4s;
}

input:hover {
  outline: 1px solid #222020;
  transition: 0.4s;
}
input:focus {
  outline: 2px solid rgb(10, 10, 10);
}

/********/
input.invalid {
  outline: 3px solid red;
}

.tab {
  display: flex;
  justify-content: center;
  display: none;
}

.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

.step.active {
  opacity: 1;
}

.step.finish {
  background-color: #2b6339cd;
}

.wrapBtn {
  display: flex;
  justify-content: space-around;
  gap: 20px;
}

#nextBtn {
  display: inline-block;
  width: 250px;
  align-self: center;
  position: relative;
  margin-top: 40px;
  font-size: 18px;
  background-color: #222020;
  border: 0;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  overflow: hidden;
  transition: 0.4s;
}

#nextBtn:hover {
  background-color: #454546;
  transition: 0.4s;
}

#prevBtn {
  display: inline-block;
  width: 250px;
  align-self: center;
  position: relative;
  margin-top: 40px;
  font-size: 18px;
  background-color: #222020;
  border: 0;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  overflow: hidden;
  transition: 0.4s;
}

#prevBtn:hover {
  background-color: #454546;
  transition: 0.4s;
}

output {
  margin-top: 10px;
  color: #fff;
}

h5 {
  color: #fff;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  input[type="range"] {
    overflow: hidden;
    width: 80%;
    -webkit-appearance: none;
    background-color: #676a67;
  }

  input[type="range"]::-webkit-slider-runnable-track {
    height: 10px;
    -webkit-appearance: none;
    color: #565c5a;
    margin-top: -1px;
  }

  input[type="range"]::-webkit-slider-thumb {
    width: 10px;
    -webkit-appearance: none;
    height: 10px;
    cursor: pointer;
    background: #ebe8ee;
    border-radius: 50%;
    box-shadow: 0 0 0 20px #191818;
  }
}
