html {
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

body {
  scrollbar-width: none; /* Firefox */
  font-family: "Gilroy-Medium", Arial, Helvetica, sans-serif;
  color: #222020;
  background-color: #fff;
}

header {
  overflow: hidden;
  position: fixed;
  z-index: 1;
  top: 0;
  width: 100%;
  background-color: #fff;
}

h1 {
  font-family: "Gilroy-Bold" Arial, Helvetica, sans-serif;
  font-weight: 900;
  font-size: 65px;
}

section {
  /* min-height: 100vh; */
  padding: 30px 0;
  margin-top: 100px;
}

.container {
  margin: 0 auto;
  padding: 0 30px 0;
  max-width: 1200px;
  box-sizing: content-box;
}

@font-face {
  font-family: "Gilroy-Bold";
  src: url("../fonts/gilroy-Bold.ttf") format("truetype"),
    url("../fonts/gilroy-Bold.woff") format("woff"),
    url("../fonts/gilroy-Bold.woff2") format("woff2"),
    url("../fonts/gilroy-Bold.eot?") format("eot");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy-Medium";
  src: url("../fonts/gilroy-Medium.ttf") format("truetype"),
    url("../fonts/gilroy-Medium.woff") format("woff"),
    url("../fonts/gilroy-Medium.woff2") format("woff2"),
    url("../fonts/gilroy-Medium.eot?") format("eot");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
